@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';

h1, h2, h3, h4, h5, h6 {
	font-family: outfit-c;
	font-weight: bold;
	margin: 0;
}
ul, ol {
	margin: 0;
	padding: 0;
}
:root {
	--index: calc(1vw+1vh);
	--color-header: #f4efec;
	--color-text: #cdc6c3;
	--gallery-gap:  calc(var(--index) * 10);
}

/* will change */
.content, .hero, .main-header, .gallery > * {
	will-change: transform; 
}


body {
	background: url('../img/bg.jpg');
	
	background-size: 50px;
	color: #fafafa;
	font-family: outfit-c;
	overflow-x: hidden;
}

.hero {
	width: calc(var(--index) * 40);
	position: absolute;
	left: 37vw;
	top: 8vh;
	z-index: -1;
}
.main-header {
	height: 100vh;
}
.container { 
	padding: 0 7vw;
}

.main-title {
	font-size: calc(var(--index) * 8);
	position: absolute;
	width: min-content;
	bottom: 12vh;
	line-height: .9;
}

.gallery {
	display: flex;
	padding: calc(var(--index) * 7) 0;
	& > * {
		flex: 1;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	&__left {
		margin-top: calc(var(--gallery-gap) * 2.75);
	}
	&__right {
		.gallery__item {
			margin: 0;
			margin-top: var(--gallery-gap);
		}
	}
	&__item {
		max-width: calc(var(--index) * 26);
		margin-bottom: var(--gallery-gap);
		max-height: 90vh;
		border-radius: 10px;
		/* filter: brightness(1.4) contrast(0.4) grayscale(0.3) hue-rotate(0.8turn) invert(0.2) saturate(1.9) sepia(0.1); */
	}
}
.text-block {
	color: var(--color-text);
	position: relative;
	&__h {
		font-size: 2rem;
		line-height: 2.4rem;
		color:  var(--color-header);
		margin-bottom: 1.5rem;
	}
	&__p {
		line-height: 1.75;
	}
}

.footer {
	padding: 8vh 0;
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, 94.31px);
		justify-content: center;
		gap: var(--gallery-gap);
		
	}
	&__social {
		display: flex;
		flex-direction: column;
		align-items: center;
		
		svg path {
			transition: 0.3s ease-in-out;
			cursor: pointer; 
			&:hover {
				fill: #050505;
			}
		}
	}
	&__link {
		color: #bebaba;
		text-decoration: none;
		font-size: 1rem;
		transition: 0.3s ease-in-out;
		&:hover {
			color: #fff;
		}
	}
	&__text {
		text-align: center; 
		margin-top: 10vh;
		color: #bebaba;
	}
}